body {
  background-color: #e6e6e6 !important;
}

a {
  text-decoration: none;
}

.navigation {
  margin-top: 5%;
}

.logo img {
  width: 100px;
  height: auto;
  margin: 0 auto;
  display: table;
}

.menu ul {
  background-color: white;
}

.menu ul > li {
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.menu i {
  color: #383838;
}

.list-group-item.active {
  background-color: #193948 !important;
}

.list-group-item.active a {
  color: white;
}
.active i {
  color: white !important;
}

.filters {
  margin-top: 5%;
}

.filterOptions {
  padding-top: 5%;
}

#filtersSeparator {
  border-right: 1px solid #a6a6a6;
}

#labelFilter {
  text-align: center;
}

#labelStatus {
  text-align: center;
  padding-top: 10px;
}

.separator {
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 5px;
}

#filterIcon i {
  font-size: 40px;
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.ordenItem {
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}

.square {
  background-color: #ed5356;
  border-radius: 10px;
  color: white;
  height: 50px;
  width: 50px;
}

.orderList {
  padding-top: 20px;
}

.itemList {
  width: 98%;
  padding-left: 13px;
  padding-top: 15px;
}

.iconList {
  font-size: 40px;
  color: #ee8d38;
}

.iconChevron i {
  font-size: 30px;
  color: #eaa75d;
}

.iconTruck i {
  font-size: 30px;
  color: #858585;
}

.iconOrderLocation i {
  font-size: 22px;
  color: #858585;
}

.iconDots a {
  font-size: 22px;
  color: #858585;
  text-decoration: none;
}
